.game-title {
  font-weight: 400;
  font-size: 225%;
  margin-block: 0;
  margin-inline: 0;
  margin-top: 15px;
}

.menu {
  width: 80vw;
  max-width: 500px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 11px 5px #3d3d3d6e;
  background-color: rgb(245, 245, 245);
  color: black;
}

.logo {
  display: block;
  width: 15%;
  margin: 15px auto;
}

.enable-hard {
  display: block;
  cursor: pointer;
}

.play-button {
  font-size: 150%;
  background-color: hsl(208, 100%, 40%);
  color: white;
  margin-bottom: 15px;
  transition: background-color 300ms;
  cursor: pointer;
}

.play-button:hover {
  background-color: hsl(208, 100%, 60%);
}

.play-button:active {
  background-color: hsl(208, 100%, 30%);
}

.difficulty-caption {
  font-style: italic;
}

.seconds {
  color: red;
  font-weight: 700;
}

.enable-hard input[type="checkbox"] {
  position: relative;
  top: 2px;
  height: 16px;
  width: 24px;
  cursor: pointer;
}

.difficulty-caption .seconds {
  transition: color 300ms;
}

.difficulty-caption[animation="0"] .seconds {
  color: orange;
}

.difficulty-caption[animation="1"] .seconds {
  color: red;
  animation: flashing 0.5s;
}

@keyframes flashing {
  0% {
    color: red;
  }
  10% {
    color: white;
  }
  20% {
    color: rgb(255, 133, 133);
  }
  35% {
    color: white;
  }
  50% {
    color: red;
  }
  75% {
    color: white;
  }
  100% {
    color: rgb(255, 133, 133);
  }
}

.menu[animation="1"] {
  animation: shrink 0.65s ease-in-out;
}

@keyframes shrink {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1.0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.65);
    opacity: 0.0;
  }
}

.round-win {
  border: 1px solid transparent;
  box-shadow: 0px 3px 5px 1px #0000009c;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  width: 75vw;
  max-width: 400px;
  margin: 0 auto;
  background-color: #454544;
  animation: appear-from-bottom 0.5s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes appear-from-bottom {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}


.advance-round-button {
  box-shadow: 1px 2px 5px 1px #2a2a2acd;;
  font-size: 125%;
}

.advance-round-button:hover {
  background-color: rgb(253, 208, 112);
}

.advance-round-button:active {
  background-color: rgb(175, 144, 76);
}

.round-win-message {
  margin: 15px 0;
  color: rgb(255, 231, 124);
  font-size: 250%;
}

.round-win-subtext {
  color: white;
  font-size: 105%;
}

.end-game-button {
  background-color: hsl(208, 100%, 40%);
  color: white;
  box-shadow: 0px 3px 5px 1px #0000006e;
}

.end-game-button:hover {
  background-color: hsl(208, 100%, 50%);
  box-shadow: 0px 3px 5px 1px #2232e9a8;
}

.confetti-canvas {
  position: fixed;
  width: 90vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}